<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/resources/js/jquery-2.1.0.min.js"></script>
    <script src="/resources/js/jquery-validate.min.js"></script>
    <script src="/resources/js/validation.js"></script>
</head>
<body>

<div class="container" style="min-width: 1000px">
    <div th:include="layout :: header(cvcreate)"></div>
    <h3>Резюме</h3>
    <div class="jumbotron" style="padding: 10px 30px 20px">
        <div class="row">
            <form action="#" th:action="@{/cv/save}" th:object="${cv}" method="post" class="form-horizontal" id="cvform" role="form">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label class="col-lg-2 control-label">Заголовок</label>
                    <div class="col-lg-10"><input type="text" th:field="*{title}" data-required="true" /></div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Текст</label>
                    <div class="col-lg-10"><textarea th:field="*{text}"></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Образование</label>
                    <div class="col-lg-10"><input type="text" th:field="*{education}"/></div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Опыт</label>
                    <div class="col-lg-10"><input type="number" th:field="*{experience}"/></div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox" th:each="cat: ${allCategories}">
                            <label  th:text="${cat.name}">Продажи</label>
                            <input type="checkbox" th:field="*{categories}" th:value="${cat.id}"/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
            </form>
        </div>
    </div>



</div>
</body>
</html>