<div class="modal-header">
    <h3>CV title</h3>
</div>
<div class="modal-body">
    <p>Title - {{cv.title}}</p>

    <p>Id - {{cv.id}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
