<!DOCTYPE html>
<html ng-app="managerApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HeadHunter Manager - ITIS Edition</title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>

    <script src="js/libs/jquery-2.1.0.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/ui-bootstrap-0.10.0.min.js"></script>
    <script src="js/controllers/ManagerController.js"></script>

</head>
<body class="container" ng-controller="ManagerController">
    <div class="row">
        <div class="col-md-6">
            <h3>Рабочии</h3>
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="checkActive(uid, '')">
                    <a ng-click="uid = ''">Все</a>
                </li>
                <li ng-class="$parent.checkActive(uid, user.id)" ng-repeat="user in users">
                    <a ng-click="$parent.uid = user.id" >{{user.name}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Работодатели</h3>
            <ul class="nav nav-pills nav-stacked" ng-init="activeCompany='all'">
                <li ng-class="checkActive(cid, '')" >
                    <a ng-click="cid = ''">Все</a>
                </li>
                <li ng-class="checkActive(cid, company.id)"  ng-repeat="company in companies">
                    <a ng-click="$parent.cid = company.id">{{company.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Резюме</h3>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="cv in cvs | filter: uid">
                    <a ng-click="$parent.openDialog('cv', cv.id)">{{cv.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Вакансии</h3>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="vacancy in vacancies  | filter: cid">
                    <a ng-click="$parent.openDialog('vacancy', vacancy.id)">{{vacancy.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>